body{
    margin: 0;
    padding: 0;
    background-image: url("../img/bckgrd.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(39, 50, 54);
}

.signinbox{
    width: 380px;
    height: 50px;
    background: transparent;
    color: #f68A17;
    top: 15%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 30px;
}

.logo{
    color: white;
    font-style: oblique;
    font-size: 4rem;
    margin-top: 0;
    padding: 0;
    text-align: center;
}
.logo:hover{
    color: #f68A17;
    text-shadow: 1px 0 20px #fff;
}

h2{
    margin-top: 0;
    padding: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #f68A17;
    font-family: apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}

p{
    margin-top: -20px;
    padding: 0;
    color: #fff;
    font-family: apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 800px;
}

.signinbox input{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

.signinbox [type="email"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #f68A17;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.signinbox input[type="text"], input[type="submit"]
{
    border: none;
    background: #f68a17;
    outline: none;
    color: white;
    font-size: 16px;
    font-family: apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 52px;
    font-weight: 600;
    border-radius: 5px;
}

.signinbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc102;
    color: black;
}

.signinbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: white;
}

.signinbox a:hover
{
    color: #f68A17;
}

.register{
    font-family: apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
}
